@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
p {
  font-family: "Poppins";
}

h1.title {
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  font-family: "Poppins";
  font-weight: 200;
  text-transform: uppercase;
  margin: 60px 10px;
}
@media screen and (max-width: 599px) {
  h1.title {
    font-size: 40px;
    line-height: 40px;
    margin: 50px 10px;
  }
}

h6 {
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 99;
  background: #FAFAFA;
}

main {
  background: #FAFAFA;
  min-height: 100vh;
}

.i {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: "Poppins";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  color: greenyellow;
}

.filter-accordion {
  display: none;
  margin-bottom: 50px;
}
@media screen and (max-width: 599px) {
  .filter-accordion {
    display: block;
  }
}
.filter-accordion .accordion-button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #333333;
  background: none;
  text-align: center;
  transition: background 0.2s ease-in-out;
  position: relative;
  font-size: 16px;
  border-bottom: solid 1px black;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.filter-accordion .accordion-button::after {
  content: "▴";
  transform: scale(1.5) translateX(200%);
  font-size: 17px;
  position: absolute;
  top: 14px;
  right: 50%;
}
.filter-accordion .accordion-button-active {
  background: linear-gradient(142deg, #22acf3 0%, #34b2f3 37%, #9693f7 100%);
  color: #FAFAFA;
  font-weight: 700;
  border: none;
}
.filter-accordion .accordion-button-active::after {
  content: "▾";
}
.filter-accordion .accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0.57, 0.01, 0.94, 0.46);
}
.filter-accordion .accordion-content li {
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background: #0a81be;
  color: #FAFAFA;
  font-weight: 500;
  border-bottom: solid 1px rgba(186, 192, 182, 0.3);
}
.filter-accordion .accordion-content li.active {
  background: #0971a6;
}
.filter-accordion .accordion-content li:last-child {
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  background: #333333;
}
.filter-accordion .accordion-content li:last-child i.fa-times-circle {
  margin-left: 10px;
}
.filter-accordion .accordion-content li:last-child.active {
  background: #333333;
}
.filter-accordion .accordion-content-active {
  max-height: 100% !important;
  overflow: visible !important;
}

.btt-btn {
  display: none;
  position: fixed;
  bottom: -70px;
  right: 30px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background: #0c91d6;
  line-height: 65px;
  text-align: center;
  color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
@media screen and (max-width: 799px) {
  .btt-btn {
    display: block;
  }
}

.fa-chevron-up {
  font-size: 30px;
}

header {
  background: #333333;
}
@media screen and (max-width: 599px) {
  header {
    position: sticky;
    top: 0;
    z-index: 999;
  }
}
header .i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.logo {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  color: #FAFAFA;
}
.logo span {
  color: #22ACF3;
}

@media screen and (max-width: 599px) {
  nav {
    display: none;
  }
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  color: #FAFAFA;
}
nav ul li a.active {
  color: #22ACF3;
}
nav ul li:not(:last-child) {
  margin-right: 30px;
}

#owl-slider {
  position: relative;
}
#owl-slider .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-dots {
  margin: 0 !important;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 599px) {
  .owl-dots {
    bottom: 0px;
  }
}
.owl-dots .owl-dot.active span {
  background: #FAFAFA !important;
}
.owl-dots .owl-dot span {
  background: #BAC0B6 !important;
  width: 15px !important;
  height: 15px !important;
}
@media screen and (max-width: 799px) {
  .owl-dots .owl-dot span {
    width: 12px !important;
    height: 12px !important;
  }
}
@media screen and (max-width: 599px) {
  .owl-dots .owl-dot span {
    width: 9px !important;
    height: 9px !important;
  }
}

.feature-info {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY(-50%);
  display: flex;
  background: red;
  font-family: "poppins";
}
@media screen and (max-width: 799px) {
  .feature-info {
    display: none;
  }
}
.feature-info h4 {
  font-size: 30px;
  padding: 3px 15px;
  background: #22ACF3;
  color: #ffffff;
}
@media screen and (max-width: 999px) {
  .feature-info h4 {
    font-size: 20px;
  }
}
.feature-info h4.category {
  background: #333333;
}

.gallery {
  padding-bottom: 120px;
}
@media screen and (max-width: 799px) {
  .gallery {
    padding-bottom: 0;
  }
}
.gallery .i .filters {
  margin-bottom: 50px;
}
@media screen and (max-width: 599px) {
  .gallery .i .filters {
    display: none;
  }
}
.gallery .i .filters ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.gallery .i .filters ul .list {
  list-style: none;
  margin-bottom: 10px;
  font-weight: 500;
  border: solid 2px #22ACF3;
  border-radius: 10px;
  color: #22ACF3;
  cursor: pointer;
  padding: 10px 20px;
  font-family: "Poppins";
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 999px) {
  .gallery .i .filters ul .list {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
  }
}
.gallery .i .filters ul .list:not(:last-child) {
  margin-right: 15px;
}
.gallery .i .filters ul .list:hover {
  background: #52bef6;
  color: #FAFAFA;
}
.gallery .i .filters ul .list.active {
  background: linear-gradient(142deg, #22acf3 0%, #34b2f3 37%, #9693f7 100%);
  color: #FAFAFA;
}
.gallery .i .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery .i .images .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 2px;
}
.gallery .i .images .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  padding: 60px;
  background-color: #1D2629;
}
footer .i {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 799px) {
  footer .i {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
footer .i h6 {
  font-family: "Poppins";
  font-size: 15px;
  color: #FAFAFA;
}
footer .i .about {
  max-width: 550px;
}
footer .i .about p {
  color: #8E9394;
}
footer .i .sitemap li {
  list-style: none;
}
footer .i .sitemap li a {
  text-decoration: none;
  font-family: "Poppins";
  color: #8E9394;
  transition: all 0.3s ease-in-out;
}
footer .i .sitemap li a:hover {
  color: #FAFAFA;
}
@media screen and (max-width: 799px) {
  footer .i .sitemap {
    margin-top: 50px;
  }
}

.spacer {
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
